# Server Configuration
PORT=5000

# MongoDB Atlas Connection String
# Replace with your actual MongoDB Atlas Connection String:
# e.g., mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/fitnessdb?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://user:password@cluster0.mongodb.net/fitnessdb?retryWrites=true&w=majority

# Secret key for JWT Authentication
JWT_SECRET=super_secret_fitness_app_jwt_key_2026
